<div class="content home">
		<div class="resist">
			<ul class="list mypage">
				<li><%= button_to "ユーザー情報の編集", "/", method: :get, class: "search_btn" %></li>
			</ul>
		</div>

		<div class="resist">
			<ul class="list mypage">
				<li><%= button_to "会社の編集・削除", "/", method: :get, class: "search_btn" %></li>
			</ul>
		</div>

		<div class="resist">
			<ul class="list mypage">
				<li><%= button_to "現場の編集・削除", "/", method: :get, class: "search_btn" %></li>
			</ul>
		</div>
</div>




