<h1 class="title my_page">マイページ</h1>

<div class="wrapper">
	<div class="content my_page">
			<div class="resist">
			<img alt="Company" src="/assets/company.jpg", class="service-img" />
				<%= button_to "ユーザー情報の編集", "/", method: :get, class: "search_btn my_page" %>
			</div>

			<div class="resist">
				<img alt="Company" src="/assets/company.jpg", class="service-img" />
				<%= button_to "登録した余剰情報一覧", "/companies/#{@company.id}/excesses/", method: :get, class: "search_btn my_page"  %>
			</div>

			<div class="resist">
				<img alt="Company" src="/assets/company.jpg", class="service-img" />
				<%= button_to "登録した現場一覧", "/companies/#{@company.id}/sites", method: :get, class: "search_btn my_page"  %>
			</div>
	</div>
</div>


