<div class="wrapper">
	<div class="introduction"></div>
	<div class="content home">
			<div class="resist">
			<img alt="Company" src="/assets/company.jpg", class="service-img" />
				<%= button_to "会社を探す", "/", method: :get, class: "search_btn" %>
			</div>

			<div class="resist">
			<img alt="Company" src="/assets/company.jpg", class="service-img" />
				<%= button_to "現場を探す", "/", method: :get, class: "search_btn" %>
			</div>
	</div>
</div>