<%# <h1 class="title">Let's Match!!</h1> %>

<div class="content home">
		<div class="resist">
			<ul class="list">
				<li><%= button_to "会社を探す", "/", method: :get, class: "search_btn" %></li>
			</ul>
		</div>

		<div class="resist">
			<ul class="list">
				<li><%= button_to "現場を探す", "/", method: :get, class: "search_btn" %></li>
			</ul>
		</div>
</div>




