
.introduction {
	background-image: url("cloud.png");
	margin: 0 auto;
	width: 500px;
	height: 180px;
	background-size : 100% 100%;
	font-weight: bold;
	color: white;
	padding-top: 50px;
}

.content.home {
	min-height: calc(100vh - 278px - 68px);
	.menu {
		margin: 50px 100px;
	}
}