
.wrapper {
	padding-top: 20px;
	background-image: url("20130321-P3210210_TP_V.jpg");
	background-size : 100% 100%;
	background-color:rgba(255,255,255,0.3);
	background-blend-mode:lighten;
}

.introduction {
	background-image: url("cloud.png");
	margin: 0 auto;
	width: 500px;
	height: 180px;
	background-size : 100% 100%;
	font-weight: bold;
	color: white;
	padding-top: 50px;

}

.content {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 168px - 68px);
	display: flex;
	justify-content: space-around;
	align-items: start;
  }
  .resist {
	background: rgba(rgb(255, 255, 255), 0.8);
	margin: 100px;
	width: 300px;
	height: 300px;
	border-radius: 22px;
	text-align: center;
  }
  .service-img {
	border-radius: 25px;
	padding: 20px;
	width: 100%;
  }
  .list {
	  margin: 0;
  }
  .search_btn {
	display: inline-block;
	border-radius: 22px;
	font-size: 25px;
	font-weight: bold;
	width: 200px;
	height: 50px;
	color: white;
	text-decoration: none;
	text-align: center;
	background-color: #d4007c; /*ボタン色*/
	transition: all 0.5s;
  }
  .service-btn.service-btn-for-programming {
	background-color: #a93032;
  }