
.content.home {
	background-image: url("20130321-P3210210_TP_V.jpg");
	background-size : 100% 100%;
	background-color:rgba(255,255,255,0.3);
	background-blend-mode:lighten;
}

.content {
    position: relative;
	width: 100%;
	min-height: calc(100vh - 88px - 68px);
	display: flex;
	justify-content: space-around;
	align-items: start;

	.resist {
		display: flex;
		justify-content: center;
		align-items: start;
		width: 45%;
		height: 90%;
	}

	.list {
		padding: 160px;
		.search_btn {
			font-size: 25px;
			font-weight: bold;
			display: block;
			width: 300px;
			height: 200px;
			color: white;
			text-decoration: none;
			text-align: center;
			background-color: #d4007c; /*ボタン色*/
			border-radius: 100px; /*角丸*/
			transition: all 0.5s;
		}
	}
}