
* {
    box-sizing: border-box;
}

body,html {
	height: 100%;
}
  
body {
// padding-top: 60px;
	min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* ←相対位置 */
	background-color: #fff;
    box-sizing: border-box;
}
  
h1,h2,h3,h4,h5,h6,body {
line-height: 1.57;
letter-spacing: 0.15em;
font-size: 16px;
margin: 0;
}

a {
	text-decoration: none;
	color: black;
  }

li {
	list-style: none;
}

.post {
	font-weight: bold;
	display:block;
	width: 100px;
	height: 50px;
	color: white;
	text-decoration: none;
	text-align: center;
	background-color: #00bcd4; /*ボタン色*/
	border-radius: 25px; /*角丸*/
	transition: all 0.5s;
}

.logout {
		font-weight: bold;
		display:block;
		width: 100px;
		height: 50px;
		color: white;
		text-decoration: none;
		text-align: center;
		background-color: #d40023; /*ボタン色*/
		border-radius: 25px; /*角丸*/
		transition: all 0.5s;
}

.header {
	border-bottom:	solid 1px rgb(0, 0, 0);
	padding: 10px 0;
    // position: fixed;
    left: 0;
    top: 0;
    // z-index: 1;
    background: #fff;
    width: 100%;
    margin: 0 auto;
	min-width: 1100px;
	height: 78px;
	.btn {
		float: left;
		font-size: 30px;
		font-weight: bold;
		width: 164px;
		margin: 6px 0 0 30px;
	}
	.menu {
		float: right;
		width: 60%;
		padding: 0 40px 0 320px;
		ul {
			float: right;
			width: 100%;
			padding: 5px 0 0;
			vertical-align: bottom;
			margin: 0;
			li {
				padding-left: 30px;
				float: left;
				text-align: right;
				
				a {
					font-weight: bold;
					width: 25%;
				}
			}
			li.about {
				margin-top: 14px;
			}
		}
	}
}

footer {
	width: 100%;
	min-height: 68px;
    text-align: center;
    padding: 5px 0;
	// position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
	border-top:	solid 1px rgb(0, 0, 0);
}
