.title {
	padding: 20px;
	text-align: center;
}

.form {
    position: relative;
	width: 100%;
	min-height: calc(100vh - 143px - 68px);
	display: flex;
	justify-content: space-around;
	align-items: start;
	background-image: url("pencil.jpg");
	// background-image: url("joanna-kosinska-290213-e1515642154508.jpg");

	
	background-size : 100% 100%;
	background-color:rgba(255,255,255,0.3);
	background-blend-mode:lighten;
}

.list.mypage {
	padding: 160px 80px;
}

.search_btn.my_page {
	width: 250px;
	height: 50px;
}