
.title.my_page {
	font-family: 'M PLUS 1p', sans-serif;
	font-size: 25px;
	padding: 15px;
	color: white;
	color:black;


//   -webkit-text-stroke: 2px darkblue;
//   stroke:2px #000;

}

.content.my_page {
	min-height: calc(100vh - 168px - 68px);
	.resist {
		margin: 70px;
		.search_btn.my_page {
			width: 270px;
			height: 50px;
		}
	}
}

.form {
    position: relative;
	width: 100%;
	min-height: calc(100vh - 143px - 68px);
	display: flex;
	justify-content: space-around;
	align-items: start;
	background-image: url("pencil.jpg");
	// background-image: url("joanna-kosinska-290213-e1515642154508.jpg");

	
	background-size : 100% 100%;
	background-color:rgba(255,255,255,0.3);
	background-blend-mode:lighten;
}

