.title {
	padding: 20px;
	text-align: center;
}

.form {
    position: relative;
	width: 100%;
	min-height: calc(100vh - 143px - 68px);
	display: flex;
	justify-content: space-around;
	align-items: start;

}


.list.mypage {
	padding: 160px 80px;
}
